// Copy this file to Secrets.xcconfig and fill in the real value.
// The Dropbox app key is the "App key" from https://www.dropbox.com/developers/apps
// In the Dropbox App Console, register redirect URI: db-<KEY>://2/token
DROPBOX_APP_KEY = REPLACE_WITH_YOUR_DROPBOX_APP_KEY
